*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
    font-family: CenturySchoolbook;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-size: 1.25em;
    scroll-behavior: smooth;
}

.triangle-container {
    display: flex;
    align-content: start;
    justify-content: center;
    position: fixed;
    bottom: 25px;
  }
  
  #triangle-bottomleft {
    width: 0;
    height: 0;
    border-style: solid;
    /* border-width: 400px 0 0 95vw; */
    border-width: 40vh 0 0 calc(95vw - 25px);
    border-color: transparent transparent transparent rgb(0, 0, 0);
    margin: auto;
  }

p {
    margin: 0px;
}

.long-word {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

a {
    text-decoration: underline;
    color: black;
}

ul {
    padding-left: 0px;
    margin: 0px;
}

li {
    list-style-type:none;
    padding-bottom: 20px;
}

/* .sub {
    padding-left: 40px;
} */

#left-column {
    color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 50px;
    /* max-width: 800px;
    min-width: 200px; */
}

.info {
    position: fixed;
    top: 20px;
    left: 25px;
}

.no-indent {
    padding-left: 0px;
}

h1 {
    padding-bottom: 20px;
}

.container {
   padding-left: 25px;
   padding-right: 25px;
   margin: auto;
   margin-bottom: 30px;
   margin-top: -5px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   justify-content: center;
}

#right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* max-width: 800px;
    min-width: 200px; */
}

.header {
    /* text-transform: uppercase; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 40px;
}

img {
      width: 100%;
      margin-top: 30px;
  }



.contact-info-indent {
    padding-left: 40px;
}

.name {
    text-transform: none;
}

/* .times {
    font-family: 'Times New Roman', Times, serif;
} */

/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 700px) {
   
    .container {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: -24px;
     }

     .header {
         text-align: center;
     }

     .name {
         text-align: left;
     }
  
     #left-column {
        min-width: inherit;
        padding-right: 0px;
    }

    #right-column {
        min-width: inherit;
    }
    
} 

/* Print
-------------------------------------------------- */

@media print { 
    
    .container{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
    }

    html, body {
        font-size: 1em;
    }

    #left-column {
        flex: .89;
        padding-right: 50px;
        max-width: inherit;
        min-width: inherit;
    }

    #right-column {
        min-width: 300px;
    }

    .header {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    li {
        padding-bottom: 15px;
    }

    .sub {
        padding-left: 20px;
    }

    #download-button {
        display: none;
    }

    .contact-info-indent {
        padding-left: 20px;
    }

    .top {
        margin-top: 0px;
    }

/* display none */

    /* img {
        display: none;
    } */

/* reveal link */

    /* a[href]:after {
        content: " ("attr(href)")";
    } */

/* break page */

    /* .break {
        page-break-before: always;
    } */

/* end note */

    .container::after {
        content: "";
    }

}

