body,
html {
    background-color: white;
    font-family: 'helvetica neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

p,h1,h2,li {
    font-style: normal;
    font-size: 2em;
    font-weight: normal;
}

h1 {
    text-align: center;
}

.container {
    margin: 40px;
}

/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {

  
} 

